@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');



    *{

        margin: 0;

        padding: 0;

        box-sizing: border-box;

        font-family:"Rajdhani",'Gill Sans','Gill Sans MT',Calibri,'Trebuchet',sans-serif;

   }





        button {

            background-color: #f39c12; /* Bright orange color */

            color: white;

            border: none;

            padding: 15px 32px;

            text-align: center;

            text-decoration: none;

            display: inline-block;

            font-size: 16px;

            cursor: pointer;

            border-radius: 8px;

        }



        .buttons {

            position: absolute;

            top: 10px;

            right: 150px;

            display: flex;

            flex-direction: column;

            gap: 10px; /* Space between buttons */

        }



        html,

        body{

            height: 100%;

            width: 100%;

            overflow: hidden;

            

        }



        body {

            width: 100vw;

            height: 100vh;

            display: flex;

            justify-content: center;

            align-items: center;

            color: white;

            background-image: url('./Leonardo_Phoenix_A_visually_captivating_hightech_background_fo_3.jpeg');

            background-size: cover;

            background-position: center;

            background-repeat: no-repeat;

            position: relative;

            overflow: hidden;

            background-color: rgb(8, 30, 92);

        }

        #app {

            height: 100%;

            width: 100%;

            display: flex;

            flex-direction: column;

        }



.container {

    padding: 40px;

    position: absolute;

    top: 50%;

    left: 50%;

    transform: translate(-80%, -50%); /* Shifted more to the left */

    background-color: rgba(0, 0, 0, 0.6);

    border-radius: 10px;

    width: 40%;

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    margin-bottom: 20px;

}



        h1 {

            font-size: 35px;

            font-family: "Roboto";

        }



        p {

            color: orange;

            font-size: 18px;

        }



        .btn {

            margin-top: 20px;

            padding: 10px 20px;

            font-size: 1.2em;

            cursor: pointer;

            color: #fff;

            background-color: #4CAF50;

            border: none;

            border-radius: 5px;

            transition: background-color 0.2s;

        }



        .btn:hover {

            background-color: #45a049;

        }



        .listening {

            animation: pulse 1s infinite;

            background-color: #FF6347;

        }


table { 
    width: 80%; 
    margin: auto; 
    border-collapse: collapse; 
}
th, td { 
    border: 1px solid black;
    padding: 8px; 
}
#commandInput, #urlInput, #answerInput{
    margin: 10px; 
    padding: 10px; 
    font-size: 16px; 
}
 


        @keyframes pulse {

            0% {

                transform: scale(1);

            }



            50% {

                transform: scale(1.1);

            }



            100% {

                transform: scale(1);

            }

        }





.chat-container{

    width: 100%;

    height: calc(100vh - 80px); /* Full viewport height minus prompt area */

    background-color: rgb(45, 52, 59);

    padding: 20px;

    display: flex;

    flex-direction: column;

    gap:20px;

    font-size: 20px;

    overflow: auto;

}

.user-chat-box{

    width: 60%;

    position: relative;

    left:40%;

}

.ai-chat-box{

    width: 60%;

    position: relative;

}

.user-chat-area{

    width: 90%;

    padding: 20px;

    background-color: black;

    color:rgba(255, 255, 255, 0.639);

    border-radius: 40px 0px 40px 40px;

    box-shadow: 2px 2px 10px black;

    display: flex;

    gap:10px;

    flex-direction: column;

}

.chooseimg{

    width: 30%;

    border-radius: 30px;

}

.ai-chat-area{

    width: 90%;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.361);

    position: relative;

    left:10%;

    color:rgba(255, 255, 255, 0.639);

    border-radius: 0px 40px 40px 40px;

    box-shadow: 2px 2px 10px black;

}

#userImage{

    position: absolute;

    right: 0;

    filter:drop-shadow( 2px 2px 10px black);



}

#aiImage{

    position: absolute;

left:0;

filter:drop-shadow( 2px 2px 10px black);

}

.prompt-area{

    width: 100%;

    height: 80%;

    background-color: rgb(45, 52, 59);

    display: flex;

    align-items: center;

    justify-content: center;

    gap:10px

}

.prompt-area input{

    width: 70%;

    height: 50px;

    background-color: black;

    outline: none;

    border:none;

    border-radius: 25px;

    padding: 10px 20px;

    color: white;

    font-size: 16px;

    box-shadow: 2px 2px 10px black;

}

.prompt-area button{
    width: 50px;

    height: 50px;

    border-radius: 50%;

    background-color: black;

    border:none;

    box-shadow: 2px 2px 10px black;

    cursor: pointer;

    transition: all 0.5s;

    color: white;

}

.prompt-area button:hover{

    background-color: rgba(0, 0, 0, 0.338);

}
.load{

    filter:drop-shadow( 2px 2px 10px black)

}

.choose{

    width: 50px;

    height: 50px;

    border-radius: 50%;

}

#image{

    display: flex;

    align-items: center;

    justify-content: center;

}

@media (max-width:600px) {

    .user-chat-box{

        width: 80%;

        left:20%

    }

    .ai-chat-box{

        width: 80%;

    }

    

}


.bottom-link {

    position: fixed;         

    bottom: 50px;            

    left: 50%;              

    transform: translateX(-50%); 

    font-size: 18px;         

    text-decoration: none;   

    color: #3308f5;         

    background-color: #f39c12; 

    padding: 10px 20px;      

    border-radius: 5px;      

    box-shadow: 2px 2px 10px rgba(230, 226, 226, 0.2);

    transition: all 0.3s;    

}



.bottom-link:hover {

    background-color: #e67e22; 

    color: white;               

    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3); 

}



.bottom-link:focus {

    outline: none;             

    box-shadow: 0 0 10px rgba(52, 152, 219, 0.8); 

}



.text-to-image-container{

    width: 100vw;

    height: 100vh;

    background: linear-gradient( to top,rgba(4, 160, 177, 0.11) , rgba(240, 188, 240, 0.692));

    display: flex;

    align-items: center;

    justify-content: center;

    flex-direction: column;

    box-shadow: 2px 2px 10px rgb(4, 160, 177) , -2px -2px 10px rgb(240, 188, 240);

    border: none;

    border-radius: 30px;

    padding: 10px;

    box-sizing: border-box;

    gap: 20px;

}

h1{

    font-size: 40px;

    text-shadow: 2px 2px 10px rgb(4, 160, 177) ;

}

.input{

    width: 90%;

    height: 30%;

    background: linear-gradient(to right ,  rgb(3, 19, 22) , rgb(160, 161, 235));

    display: flex;

    align-items: center;

    justify-content: space-around;

    flex-direction: column;

    color: aliceblue;

    font-size: 25px;

    border-radius: 20px;

}

#input{

    width: 70%;

    height: 40px;

    background-color:  rgba(10, 46, 49, 0.68);

    border: none;

    border-radius: 20px;

    box-shadow: 2px 2px 10px rgb(4, 160, 177) , -2px -2px 10px rgb(240, 188, 240);

    font-size: 20px;

    color: aliceblue;

    padding: 15px;

    box-sizing: border-box;

}

#gbtn{

    width: 200px;

    height: 50px;

    background-color:  rgba(10, 46, 49, 0.68);

    border: none;

    border-radius: 20px;

    font-size: 20px;

    color: aliceblue;

    box-shadow: 2px 2px 10px rgb(4, 160, 177);

    transition: all 0.3s;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 5px;

    cursor: pointer;



}

#gbtn:hover{

    background: transparent;

}



.output{

    width: 90%;

    height: 55%;

    display: flex;

    align-items: center;

    justify-content: space-around;

    

}

.gimage{

    width: 70%;

    height: 100%;

    background: linear-gradient(to right ,  rgb(3, 19, 22) , rgb(160, 161, 235));

    display: flex;

    align-items: center;

    justify-content: center;

    border: none;

    border-radius: 20px;

    position: relative;

}

.dbtns{

    width: 25%;

    height: 100%;

    background: linear-gradient(to right ,  rgb(3, 19, 22) , rgb(160, 161, 235));

    display: flex;

    align-items: center;

    justify-content: center;

    border: none;

    border-radius: 20px;

    flex-direction: column;

    gap: 90px;





}

#download{

    width: 150px;

    height: 50px;

    background-color:  rgba(10, 46, 49, 0.68);

    border: none;

    border-radius: 20px;

    font-size: 20px;

    color: aliceblue;

    box-shadow: 2px 2px 10px rgb(4, 160, 177);

    transition: all 0.3s;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 5px;

    cursor: pointer;



}

#reset{

    width: 150px;

    height: 50px;

    background-color:  rgba(10, 46, 49, 0.68);

    border: none;

    border-radius: 20px;

    font-size: 20px;

    color: aliceblue;

    box-shadow: 2px 2px 10px rgb(4, 160, 177);

    transition: all 0.3s;

    display: flex;

    align-items: center;

    cursor: pointer;

    justify-content: center;

    gap: 5px;



}

#download:hover{

    background: transparent;

}

#reset:hover{

    background: transparent;

}

#gimage{

    width: 65%;

    height: 90%;

    background-size: cover;

    border: none;

    border-radius: 20px;

    display: none;

}

#loading{

    position: absolute;

    width: 10%;

    filter:drop-shadow(2px 2px 10px black) ;

    display: none;

}

@media (max-width : 1200px) {

    .text-to-image-container{

        width: 90%;

    }

    

    

}

@media (max-width : 900px){





.text-to-image-ontainer{

    flex-direction: column;

}

#gimage {

    width: 50%;

}

.gimage {

    width: 100%;

    height: 64%;}



    .btns{

        width: 100%;

    height: 25%; 

    flex-direction: row;

    }

    .output{

        flex-direction: column;

    }

}



@media (max-width : 570px){



    h1 {

        font-size: 30px;

    }

    .input{

        font-size: 20px;

    }

    #input{

        font-size: 15px;

    }

    #gimage {

        width: 60%;

      }

}

@media (max-width : 450px){



    .text-to-image-container{

        width: 100%;

        height: 100%;

        border-radius: 0px;

    }

    h1 {

        font-size: 22px;

      }

      .input {

        font-size: 15px;

      }

      #input {

        width: 90%;

        font-size:12px ;

      }

      #gbtn {

        width: 150px;

        height: 35px;

        font-size: 15px;

}

.dbtns{

    justify-content: space-around;

    gap: 0px;

}

#download {

    width: 110px;

    height: 35px;

    font-size: 15px;

}

#reset {

    width: 110px;

    height: 35px;

    font-size: 15px;

}

#gimage {

    width: 85%;

  }

}

.signup-container,.login-container,.logout-container,.forgot-password-container,.reset-password-container { 

    width: 300px; 

    margin: 50px auto; 

    padding: 20px; 

    border: 1px solid #ccc; 

}

#signup-username,#signup-email,#signup-password,#signup-confirm-password,#login-username,#login-password,#logout-username,#logout-password,#forgot-email,#reset-token,#new-password,#confirm-new-password { 

    width: 100%; 

    padding: 10px; 

    margin: 10px 0; 

}

.signup-button,.login-button,.logout-button,.forgot-password-button,.reset-password-button{ 

    width: 100%; 

    padding: 10px; 

    background-color: #4CAF50; color: white; border: none; 

}

#voice-input {

    width: 100%; 

    padding: 10px; 

    background-color: #4CAF50; color: white; border: none; 

}

.link{

    color: #2575fc;

    cursor: pointer;

    text-decoration: underline;

}

#lgt-btn{

    position: absolute;

    bottom: -450px;

    right: 130px;

    display: flex;

    flex-direction: column;

    gap: 10px; /* Space between buttons */

    

}

.password-field {

    position: relative;

    display: flex;

    align-items: center;

}

.password-field input {

    flex: 1;

    padding-right: 2rem;

}

.password-field .toggle-password {

    position: absolute;

    right: -1.5rem;

    background: none;

    border: none;

    cursor: pointer;

    font-size: 1.2rem;

  }
